@font-face { font-family: Black Mango; src: url('./Black Mango Black.ttf'); } 

@media (max-width: 475px){
  .hero{
    height: 60vh;
    position: relative;
    top: 20vw;
  }
  .home-1{
    justify-content: start !important;
  }

  .about-us-txt{
    font-size: 6vw !important;
  } 

  .about-us-title img{
    width: 35vw !important;
    padding-left: 5vw;
  }

  .about-us-details{
    grid-template-columns: repeat(3, 2fr) !important;
    height: 28vh !important;
  }

  .about-us-title{
    grid-column: 1/4 !important;
    grid-row: 1 !important;
    height: 10vh !important;
    border-top-right-radius: 15px !important;
    border-top-left-radius: 15px !important;
    border-bottom-left-radius: 0 !important;
    justify-content: start !important;
  }

  .about-us-desc{
    grid-row: 2 !important;
    grid-column: 1/4 !important;
    border-bottom-left-radius: 18px;
    border-top-right-radius: 0 !important;
    height: 17vh !important;
    font-size: 2.5vw !important;
  }

  .au-desc{
    height: 17vh !important;
    font-size: 2.5vw !important;
    padding: 5vw;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 18px !important;
    justify-content: start !important;
  }
}

.home-1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95vh;
}
.about-us-txt{
  display: flex;
  justify-content: center;
  padding: 5vw;
  font-size: 4vw;
}

.about-us-details{
  position: relative;
  display: grid;
  width: 85%;
  height: 100%;
  /* background-color: #0D0D0D; */
  grid-template-columns: repeat(3, 1fr);
  overflow: scroll;
  
}

.about-us-title{
  grid-column: 1;
  grid-row: 1 ;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
}

.about-us-title img{
  width: 20vw;
}

.about-us-desc{
  grid-column: 2/4;
  grid-row: 1 ;
  overflow-y:scroll;
  height: 50vh;
  scroll-snap-type: y mandatory;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
@keyframes fade-in {
  0% {
    opacity: 0;
    display: none;
  }

  100% {
    opacity: 1;
    display: block;
  }
}

.about-us-desc.fade-in{
  animation: fade-in 0.7s ease-in forwards;
}

.au-desc{
  background-color: #0D0D0D;
  height: 50vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  font-size: 1.5vw;
}

.about-us-title{
  background-color: #0D0D0D;
  height: 50vh;
  scroll-snap-type: y mandatory;
}

.progress {
  height: 3px;
  width: 0%;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  animation: progress 1s linear;
}
@keyframes progress {
  to {
    background-color: rgb(20, 255, 226);
    width: 100%;
  }
}

.navbar-about-us{
  position: absolute;
  z-index: 2;
  margin-top: -11rem;
  visibility: hidden;
  background: #060606;
  display: none;
  width: 100%
}