@media (max-width: 475px){
  .a-name{
    padding: 0 0 0 1vw !important;
  }
  .a-desig{
    padding: 0 0 1vw 1vw !important;
  }
  .collab-title,.a-title{
    font-size: 6vw !important;
  }
  .a-content-section{
    top: 20vw !important;
    height: 100vh !important;
  }
}

.collab-title{
  padding: 5vw;
  font-size: 4vw;
  text-align: center;
}

.a-title{
  padding: 0 0 3vw 0;
  font-size: 3vw;
  text-align: center;
}

.a-card{
  /* background-color: white; */
  height: fit-content;
  width:fit-content;
  border-radius: 1vw;
  align-items: start;
  justify-content: center;
  padding-bottom: 4vw;
}

.a-card:hover{
  transform: scale(1.15);
  transition: 0.5s;
}

.a-pic{
  border-top-left-radius: 1vw;
  border-top-right-radius: 1vw;
  background-color: white;
  border-left: 0.5vw solid white;
  border-top: 0.5vw solid white;
  border-right: 0.5vw solid white;
}

.a-content{
  border-bottom-left-radius: 1vw;
  border-bottom-right-radius: 1vw;
  background-color: white;
}

.a-pic img{
  height: 17vw;
  /* width: 20vw; */
}

.artists, .sports-stars{
  padding: 0 7vw 7vw 7vw;
}
.a-name{
  font-size: 1.5vw;
  padding: 0 0 0 1rem;
}

.a-desig{
  font-size: 1.5vw;
  padding: 0 0 1vw 1rem;
}

.first-col{
  display: flex;
  flex-direction: column;
  position: relative
}

.col-cards{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.second-col, .fourth-col{
  padding-top: 5vw;
}

.desig2{
  font-size: 1vw;
}

.a-content-section{
  position: relative;
  top: 8vw;
}