@font-face { font-family: Black Mango; src: url('./Black Mango Black.ttf'); } 

.contact-us-content{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 4rem;
  width: 100vw;
  padding: 0 6rem 6rem 6rem;
  position: relative;
  height: 55vh;
}

img{
  width: 3vw;
}

/* 2xl */
@media (max-width: 1536px) {
  
}

/* xl */
@media (max-width: 1280px) {
  /* img{
    width: 3rem;
  } */
}

/* lg */
@media (max-width: 1024px) {
  .contact-us-content{
    padding: 0 3rem 3rem 3rem;
  }
  .contact-us-hero {
    height: 100vh;
  }
  .contact-us-txt{
    padding: 1rem;
    font-size: 2rem;
  }
  .contact-us-details{
    grid-row: 1;
    font-size: 2rem !important;
  }

}

/* md */
@media (max-width: 768px) {
  .contact-us-content{
    height: 60vh;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    padding: 3rem;
  }
  .contact-us-hero {
    height: 100vh !important;
  }
  .contact-us-txt{
    padding: 1rem !important;
  }
  .contact-us-details{
    grid-row: 1;
    font-size: 2rem !important;
  }
  .iframe-rwd-1{
    grid-row: 3;
  }
  .iframe-rwd-2{
    grid-row: 4;
  }
  .iframe-rwd-1 iframe{
    grid-row: 3;
  }
  .iframe-rwd-2 iframe{
    grid-row: 4;
  }

}

/* sm */
@media (max-width: 640px) {
  .contact-us-content{
    height: 60vh;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    padding: 3rem;
  }
  .contact-us-hero {
    height: 100vh;
  }
  .contact-us-txt{
    padding: 1rem;
    /* font-size: 1.5rem; */
  }
  .contact-us-details{
    grid-row: 1;
    /* font-size: 1.5rem !important; */
  }
  .iframe-rwd-1{
    grid-row: 3;
  }
  .iframe-rwd-2{
    grid-row: 4;
  }
  .iframe-rwd-1 iframe{
    grid-row: 3;
  }
  .iframe-rwd-2 iframe{
    grid-row: 4;
  }

}

/* xs */
@media (max-width: 475px) {
  .contact-us-content{
    /* height: 60vh; */
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    padding: 3rem;
    row-gap: 1vh;
  }
  .contact-us-hero {
    height: 100vh;
    position: relative;
    top: 20vw !important;
  }
  .contact-us-txt{
    /* padding: 1rem; */
    font-size: 6vw !important;
  }
  .contact-us-details{
    grid-row: 1;
    font-size: 1.5rem !important;
  }
  .iframe-rwd-1{
    grid-row: 2;
    height: 20vh !important;
  }
  .iframe-rwd-2{
    grid-row: 3;
    height: 20vh !important;
  }
  .iframe-rwd-1 iframe{
    grid-row: 2;
  }
  .iframe-rwd-2 iframe{
    grid-row: 3;
  }
  .idea{
    font-size: 3vw !important;
  }
  .contact, .mail{
    font-size: 3.5vw !important;
  }
  .contact{
    display: flex; 
    flex-direction: row;
    padding: 0 !important;
  }
  .mail{
    color: white;font-family: Poppins; font-weight: 500; word-wrap: break-word; 
    padding: 1rem 1rem 1rem 0 !important;
  }

}

.contact-us-details{
  font-size: 2vw;
}

.iframe-rwd-1  {
  position: relative;
  padding-bottom: 56.25%;
  height: 30vh;
  overflow: hidden;
}
.iframe-rwd-2  {
  position: relative;
  padding-bottom: 56.25%;
  height: 30vh;
  overflow: hidden;
}
.iframe-rwd-1 iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
.iframe-rwd-2 iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.gm-style{
  position: relative !important;
}

.contact-us-1{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 70vh;
}

.contact-us-hero{
  position: relative;
  width: 100vw;
  height: 100vh;
  /* padding: 2rem; */
  text-align: left;
  isolation: isolate;
  background-color: #010101;
  top: 8vw;
}

.contact-us-txt{
  padding: 5vw;
  font-size: 4vw;
}

.idea{
  font-size: 1.5vw;
}

.contact, .mail{
  font-size: 2vw;
}
.contact{
  display: flex; flex-direction: row;padding: 4rem 0 2rem 0;
}
.mail{
  color: white;font-family: Poppins; font-weight: 500; word-wrap: break-word; padding: 2rem 2rem 2rem 0;
}