.contact-us-content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5rem;
  column-gap: 15rem;
}

iframe{
  border-radius: 18px;
}

.contact-us-1{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 35vh;
}

.contact-us-hero{
  position: relative;
  height: 75vh;
  padding: 2rem;
  text-align: left;
  isolation: isolate;
}