@font-face { font-family: Black Mango; src: url('./Black Mango Black.ttf'); } 

@media (max-width: 475px){
  .our-work-txt{
    font-size: 6vw !important;
  }
  .ow-content{
    display: none !important;
  }
  
  section {
      background: #010101;
  }
  
  .container {
      /* max-width: 1044px; */
      margin: 0 auto;
      /* padding: 0 20px; */
      display: block !important;
  }
  
  .carousel {
    display: block;
    text-align: left;
    position: relative;
    margin-bottom: 22px;
    height: 100vh;
    padding: 0 ;
  }

  .carousel > input {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    
    &:nth-of-type(6):checked ~ .carousel__slides .carousel__slide:first-of-type { margin-left: -500%; }
    &:nth-of-type(5):checked ~ .carousel__slides .carousel__slide:first-of-type { margin-left: -400%; }
    &:nth-of-type(4):checked ~ .carousel__slides .carousel__slide:first-of-type { margin-left: -300%; }
    &:nth-of-type(3):checked ~ .carousel__slides .carousel__slide:first-of-type { margin-left: -200%; }
    &:nth-of-type(2):checked ~ .carousel__slides .carousel__slide:first-of-type { margin-left: -100%; }
    &:nth-of-type(1):checked ~ .carousel__slides .carousel__slide:first-of-type { margin-left: 0%; }
    
    &:nth-of-type(1):checked ~ .carousel__thumbnails li:nth-of-type(1) { box-shadow: 0px 0px 0px 5px rgba(0,0,255,0.5); }
    &:nth-of-type(2):checked ~ .carousel__thumbnails li:nth-of-type(2) { box-shadow: 0px 0px 0px 5px rgba(0,0,255,0.5); }
    &:nth-of-type(3):checked ~ .carousel__thumbnails li:nth-of-type(3) { box-shadow: 0px 0px 0px 5px rgba(0,0,255,0.5); }
    &:nth-of-type(4):checked ~ .carousel__thumbnails li:nth-of-type(4) { box-shadow: 0px 0px 0px 5px rgba(0,0,255,0.5); }
    &:nth-of-type(5):checked ~ .carousel__thumbnails li:nth-of-type(5) { box-shadow: 0px 0px 0px 5px rgba(0,0,255,0.5); }
    &:nth-of-type(6):checked ~ .carousel__thumbnails li:nth-of-type(6) { box-shadow: 0px 0px 0px 5px rgba(0,0,255,0.5); }
}
  
  .carousel__slides {
      position: relative;
      z-index: 1;
      padding: 0;
      margin: 0;
      overflow: hidden;
      white-space: nowrap;
      box-sizing: border-box;
      display: flex;
  }
  
  .carousel__slide {
      position: relative;
      display: block;
      flex: 1 0 100%;
      width: 100%;
      height: 100%;
      overflow: hidden;
      transition: all 300ms ease-out;
      vertical-align: top;
      box-sizing: border-box;
      white-space: normal;
  }
  
  .carousel__thumbnails {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      
      margin: 0 -10px 0 10px;
      overflow-x: scroll;
      position: relative;
      left: -3vw;
  }

  .carousel__thumbnails li{
    margin: 0 2vw;
    height: 17.5vw;
  }

  video {
    
    border: none !important;
    
  }

  .carousel__slide video{
    height: 50.5vw !important;
    width: 89.5vw !important;
    border-radius: 2vw;
  }

  .carousel__thumbnails video{
    height: 18vw !important;
    width: 30vw !important;
  }
  ::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
  }

  .title{
    font-size: 4vw !important;
  }
  .desc{
    font-size: 3vw !important;
  }
}
.container{
  display: none;
}
.our-work-txt{
  padding: 5vw;
  font-size: 4vw;
  display: flex;
  justify-content: center;
}

.our-work-hero{
  height: 100vh;
}

.ow-content{
  position: relative;
  display: flex;
  height: 70vh;
  column-gap: 10vw;
  padding: 0 10vw 10vw 10vw;
}

.actions {
  position: absolute;
  top: 70%;
  left: 22%;
  transform: translateX(-50%);
  z-index: 1000;
  height: 200px;
  width: 600px;
  background-color: black;
}

.gallery {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.cards {
  position: absolute;
  width: 609px;
  height: 310px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cards li {
  width: 609px;
  height: 310px;
  background-color: #9d7cce;
  position: absolute;
}

button {
  display:inline-block;
  outline: none;
  border: none;
  border-radius: 50%;
  padding: 14px 14px;
  background: #161012;
  cursor: pointer;
}

button {
  font-size: 20px;
  font-weight: 400;
}

.video-content{
  overflow-y: hidden;
}

.vid-1{
  z-index: 5;
  background-color: #cbce7c;
}

.vid-2{
  /* top: 3vw; */
  /* scale: 0.9; */
  z-index: 4;
  background-color: #9d7cce;
}
.vid-3{
  /* top: 6vw; */
  /* scale: 0.8; */
  z-index: 3;
  background-color: #82ce7c;
}
.vid-4{
  /* top: 8vw; */
  /* scale: 0.7; */
  z-index: 2;
  background-color: #ce7c7c;
}
.vid-5{
  /* top: 10vw; */
  /* scale: 0.6; */
  z-index: 1;
  background-color: #7cb4ce;
}
.vid-12{
  z-index: 5;
  background-color: #cbce7c;
}

.vid-22{
  top: 3vw;
  scale: 0.9;
  z-index: 4;
  background-color: #9d7cce;
}
.vid-32{
  top: 6vw;
  scale: 0.8;
  z-index: 3;
  background-color: #82ce7c;
}
.vid-42{
  top: 8vw;
  scale: 0.7;
  z-index: 2;
  background-color: #ce7c7c;
}
.vid-52{
  top: 10vw;
  scale: 0.6;
  z-index: 1;
  background-color: #7cb4ce;
}

.our-work-1{
  height: 100vh;
  position: relative;
  z-index: 5;
  background-color: black;
}

.videos{
  /* left: 60%; */

}

.vid-txt{
  position: relative;
  background: black;
  width: 50vw;
}

.vid-carousel{
  width: 50vw;
}

.txt-container{
  position: absolute;
  opacity: 0;
  background-color: black;
  height: 40vw;
  
}

.title{
  font-family: Black Mango;
  font-size: 2vw;
}

.desc{
  font-size: 1.5vw;
}

