@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap");
@font-face { font-family: Black Mango; src: url('./Black Mango Black.ttf'); } 
:root {
    --light-color: #d8d8d8;
    --dark-color: #010101;
    --number-of-cols: 4;
    --pointerX: 50vw;
    --pointerY: 50vh;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--dark-color);
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  color: var(--light-color);
  overflow-x: hidden;
  /* height: 100%; */
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
    /* display: block; */
    /* max-width: 100%; */
  /* width: 5rem; */
}

section {
  /* height: 90%; */
  width: 100%;
}

.hero{
  position: relative;
  height: auto;
  /* padding: 2rem; */
  text-align: left;
  isolation: isolate;
  z-index: 5;
  background-color: #010101;
  top: 8vw;
}

.arrow {
  border: solid #FFE500;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 3px;
  width: 40vw;
  height: 40vw;
}

.right {
  top: 40vh;
  left: 10vw;
  position: relative;
}

.left {
  position: relative;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  top: 40vh;
  left: 10vw;
}

.hero-anim{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: #010101;
  z-index: 2000;
  display: none;
  
}

.hero::before{
  content: '';
  position: fixed;
  top: -150%;
  left: -100%;
  z-index: -1;
  width: 350%;

}

.home-1{
  width: 100vw;
}

.top-nav{
  width: 100vw;
  padding: 3vw 3vw 0 3vw;
  position: fixed;
  background-color: #010101;
  z-index: 200;
}

.top-nav ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.logo{
  position:relative;
  z-index: 3;
  width: 2.5rem;
}

.nav-icon{
  padding-block: 2.5rem;
  cursor: pointer;
  float: right;
  width: 2vw;
}

.navbar{
  position: fixed;
  z-index: 1000;
  visibility: hidden;
  background: #010101;
  display: none;
  width: 100vw;
  top: 8vw;
}

/* 2xl */
@media (max-width: 1536px) {}

/* xl */
@media (max-width: 1280px) {}

/* lg */
@media (max-width: 1024px) {
  .nav-menu{
    height: 100vh !important;
  }
  .nav-menu ul li {
    text-align: center;
    padding: 1rem !important;
    font-size: 2vw !important;
  }
  .social-lists img{
    width: 3rem;
  }
  img{
  }
  .footer-menu, .home-8{
  }
  .top-nav{
    padding: 3rem 3rem 0 3rem;
  }
  .home-7{
  }
  .line-2{
  }
}

/* md */
@media (max-width: 768px) {
  .nav-menu{
    justify-content: center;
    height: 100vh !important;
  }
  .nav-menu ul li {
    /* text-align: center; */
    padding: 1rem !important;
    /* font-size: 1.5rem !important; */
  }
  .social-lists img{
    width: 3rem;
  }
  img{
    /* width: 3rem; */
  }
  .footer-menu, .home-8{
    /* font-size: 1.5rem !important; */
    /* padding: 3rem; */
  }
  .top-nav{
    padding: 3rem 3rem 0 3rem;
  }
  .home-7{
    /* padding: 0 3rem 3rem 3rem !important; */
  }
  .line-2{
    /* width: 60vw !important; */
  }
}

/* sm */
@media (max-width: 640px) {
  .nav-menu{
    justify-content: center;
    height: 100vh !important;
  }
  .nav-menu ul li {
    text-align: center;
    padding: 1rem !important;
    /* font-size: 1.5rem !important; */
  }
  .social-lists img{
    width: 3rem;
  }
  img{
    /* width: 3rem; */
  }
  .footer-menu, .home-8{
    /* font-size: 1.5rem !important; */
    /* padding: 3rem; */
  }
  .top-nav{
    padding: 3rem 3rem 0 3rem;
  }
  .home-7{
    /* padding: 0 3rem 3rem 3rem !important; */
  }
  .line-2{
    /* width: 60vw !important; */
  }
  .ga-6{
    left: unset !important;
  }
  .h3-2{
    display: none;
  }
  .circles{
    filter: none !important;
    row-gap: 10vw !important;
  }
  .circles-clr-m{
    filter: none !important;
    row-gap: 10vw !important;
  }

}

/* xs */
@media (max-width: 475px) {
  .nav-menu{
    justify-content: center;
    height: 100vh !important;
  }
  .nav-menu ul li {
    text-align: center;
    padding: 1rem !important;
    font-size: 6vw !important;
  }
  .navbar{
    top: 23vw;
  }
  .social-lists{
    column-gap: 12vw !important;
    padding: 4vw !important;
  }
  .social-lists img{
    width: 7vw !important;
  }
  img{
    /* width: 3rem; */
  }
  .footer-menu{
    /* font-size: 1.5rem !important; */
    /* padding: 3rem; */
  }
  .top-nav{
    padding: 4vw 4vw 0 4vw;
    position: fixed;

  }
  .lp{
    position: relative;
    top: 10vw;
    height: 70vw !important;
  }
  .home-8{
   padding-top: 6.5vw !important;
   padding-bottom: 2vw;
  }
  .line-2{
    display: none;
  }
  .social{
    display: none;
  }
  .copyright{
    padding: 2vw;
    font-size: 2.5vw !important;
  }
  .line-3{
    opacity: 1 !important;
    margin: auto;
    position: relative;
    z-index: 6;
  }
  .col-1, .col-2{
    font-size: 4vw !important;
  }
  .nav-icon{
    width: 6vw !important;
  }
  .h3-2{
    display: none;
  }
  .circles{
    filter: none !important;
    row-gap: 10vw !important;
  }
  .circles-clr-m{
    filter: none !important;
    row-gap: 10vw !important;
  }
  .ga-6{
    left: unset !important;
  }
  #next, #prev{
    display: none !important;
  }
  .card{
    height: 40vw !important;
    width: 32vw !important;
    border-radius: 3vw !important;
    left: calc(50% - 15vw) !important;
  }
  .card img{
    width: 18vw !important;
  }
  #circle{
    width: 13vw !important;
    height: 13vw !important;
  }
  #circle-x{
    width: 13vw !important;
    height: 13vw !important;
  }
  .corp-clr{
    width: 12vw !important;
  }
  .govt-agc{
    width: 8vw !important;
  }
  .cc-title{
    font-size: 3vw !important;
  }
  .cc-desig{
    font-size: 2.5vw !important;
  }
  .logo-img img{
    width: 20vw !important;
  }
  .home-3{
    transform: translate(0px, 0px) !important;
  }
}

@media (min-width: 475px){
  .home-3{
    transform: translateY(10vw);
  }

  .home-5{
    transform: translateY(10vw);
  }

  .our-work{
    transform: translateY(10vw);
  }
}

.our-work-txt-h{
  padding: 5vw;
  font-size: 4vw;
  display: flex;
  justify-content: center;
}

.line-3{
  opacity: 0;
  width: 90vw;
  color: white;
}

.nav-menu{
  background-color: #010101;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.bbp-text{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 3rem;
  padding-left: 4rem;
}

.navbar ul{
  text-align: right;
  background: #010101;
}

.nav-menu ul li{
  padding: 3rem 6rem 3rem 3rem;
  font-size: 2vw;
  font-family: 'Poppins';
  word-wrap: break-word;
}

.close-icon{
  margin-left: auto;
  width: 2.5rem;
}

.bg-img-1{
  width: 100%;
}

/* .horz-rect-1{
  position: absolute;
  top: 15vw;
  left: 28vw;
  transform: translate(-50%, -50%);
} */

/* .vert-rect-1{
  position: absolute;
  top: 20vw;
  left: 10vw;
  transform: translate(-50%, -50%);
} */

/* .horz-rect-2{
  position: absolute;
  top: 45vw;
  left: 72vw;
  transform: translate(-50%, -50%);
} */



.home-2{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  height: 50vw;
}

.h2-vid{
  width: 100vw;
}

.text-2{
  position: absolute;
  font-size: 4vw;
  text-align: center;
}

.text-3{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50vw;
  transform: translate(-50%, -50%);
}

/* TRUSTED BY CORPS */
.home-3{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: auto;
  position: relative;
}

.light {
  position: fixed;
  width: 300px;
  height: 300px;
  border-radius: 100%;
  -webkit-box-shadow: 400vh 0px 0px 400vw rgba(0,0,0,0.89);
  -moz-box-shadow: 400vh 0px 0px 400vw rgba(0,0,0,0.89);
  box-shadow: 400vh 0px 0px 400vw rgba(0,0,0,0.89);
  filter: grayscale(50%);
}

.h3-1{
  
}

.h3-2{
  position: absolute;
  mask-image: url("../../assets/images/mask.svg");
  -webkit-mask-image: url("../../assets/images/mask.svg");
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  background-color: white;
  mask-size: 20vw;
  -webkit-mask-size: 20vw;
  pointer-events: none;
  transition: all 0.1s ease-out;
  
}

.text-4{
  flex-direction: flex-start;
  padding: 5vw;
  font-size: 4vw;
  text-align: center;
  background-color: white;
}
.text-4-m{
  flex-direction: flex-start;
  padding: 5vw;
  font-size: 4vw;
  background-color: black;
  text-align: center;

  /* position: absolute; */
}

.circles{
  filter: grayscale(100%) invert(100%);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 7rem;
  /* column-gap: 3vw; */
  width: 100vw;
  justify-items: center;
  padding: 0 10vw 0 10vw;
}
.circles-m{
  /* filter: grayscale(100%) invert(100%); */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 7rem;
  /* column-gap: 3vw; */
  width: 100vw;
  justify-items: center;
  padding: 0 10vw 0 10vw;
}

.circles-clr{
  /* filter: grayscale(100%) invert(100%); */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 7rem;
  /* column-gap: 9rem; */
  width: 100vw;
  justify-items: center;
  z-index: -1;
  padding: 0 10vw 0 10vw;
}

.circles-clr-m{
  /* position: absolute; */
  filter: grayscale(100%) invert(100%);

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 7rem;
  /* column-gap: 9rem; */
  width: 100vw;
  justify-items: center;
  z-index: -1;
  padding: 0 10vw 0 10vw;
}

.home-4{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 95vh;
}

.text-5{
  flex-direction: flex-start;
  margin-top: 5vw;
  padding: 5vw;
  font-size: 4vw;
  text-align: center;
}

#cursor{
  pointer-events: none;
  height: 350px;
  width: 350px;
  background-color: white;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 4;
  border-radius: 50%;
  opacity: 0;
  /* transition: all linear 0.2s; */
  mix-blend-mode: multiply;
  filter: grayscale(100%);
}

.corp{
  /* mix-blend-mode: difference; */
  opacity: 1;
  background-color: #010101;
  /* z-index: 3; */
  border-radius: 50%;

}

.corp-clr{
  width: 9vw ;
  /* height: 5vw; */
  background-color: white;
  border-radius: 50%;
  /* z-index: 1; */
}

.govt-agc{
  width: 6.5vw ;
  /* height: 5vw; */
  background-color: white;
  /* border-radius: 50%; */
  /* z-index: 1; */
}

.c-1{
  /* width: 9vw !important; */
}

.c-3{
  border-radius: 0 !important;
  width: 5.5vw !important;
}

.ca-5{
  border-radius: 0 !important;
  width: 8.5vw !important;
}

#circle{
  width: 10vw;
  height: 10vw;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid black;
}
#circle-x{
  width: 10vw;
  height: 10vw;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid black;
}

#circle-b{
  height: 5vw;
  background-color: #010101;
}

#circle img{
  width: 9.5vw;
}

#circle-x img{
  width: 6.5vw;
}

.ga-6{
  position: relative;
  left: 3px;
}

.ga-10{
  width: 5vw !important;
}

/* COLLAB *******************************************************/
.home-5{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: auto;
  position: relative;
  z-index: 5;
  background-color: #010101;
}

.text-6{
  justify-content: flex-start;
  /* margin-top: 5vw; */
  padding: 5vw;
  font-size: 4vw;
}

.carousel{
  width: 90%;
  padding: 3rem;
  margin: 0 auto;
  background-color: transparent;
  position: relative;
  height: 35vw;
  overflow: hidden;
}
.carousel-c{
  width: 90%;
  padding: 3rem;
  margin: 0 auto;
  background-color: transparent;
  position: relative;
  height: 35vw;
  overflow: hidden;
}

.card{
  width: 20vw;
  height: 25vw;
  border-radius: 5vw;
  position: absolute;
  background: linear-gradient(180deg, #93A5CF 0%, #E4EFE9 100%);
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  transition: 0.5s;
  left: calc(50% - 9vw);
  top: 0;
}

.card img{
  /* padding-top: 4vw; */
  margin-top: 4vw;
  width: 12vw;
}

.card-content{
  color: #010101;
  padding-bottom: 3rem;
  text-align: center;
}

#next, #prev{
  position: absolute;
  color: white;
  top: 13vw;
  background-color: transparent;
  border: none;
  /* font-size: xxx-large; */
  font-family: monospace;
  font-weight: bold;
  left: 0;
  width: 5vw;
}

#next{
  left: 81vw;
}

#next img, #prev img{
  width: 7vw;
}
#next-ow, #prev-ow{
  /* position: absolute; */
  color: white;
  /* top: 18vw; */
  background-color: transparent;
  border: none;
  /* font-size: xxx-large; */
  font-family: monospace;
  font-weight: bold;
  left: 0;
  width: 15vw;
}

#next-ow{
  left: 5vw;
}

#next-ow img, #prev-ow img{
  width: 7vw;
}

.home-6{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95vh;
  /* width: 90%; */
}

.text-7{
  padding: 15rem;
  
}

.cc-title{
  font-size: 1.5vw;
}

.cc-desig{
  font-size: 1vw;
}

.tranding-slide-img{
  border-radius: 100%;
}

/* OUR WORK ***************************************************************/
.our-work{
  height: auto;
  position: relative;
  z-index: 5;
  background-color: #010101;

}

.video-content{
  position: relative;
  display: grid;
  width: 85%;
  height: 100%;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10rem;
  overflow: scroll;
}

.content-details{
  position: absolute;
  width: 50%;
  background-color: #060606;
  transition: 0.5s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    display: none;
  }

  100% {
    opacity: 1;
    display: block;
  }
}

.content-details.fade-in{
  animation: fade-in 0.7s ease-in forwards;
}


.videos1{
  position: absolute;
  overflow: hidden;
  height: 32vw;
  width: 50vw;
  /* top: 0; */
}
.videos2{
  position: absolute;
  overflow: hidden;
  height: 40vw;
  width: 40vw;
  z-index: -1;
}

.video{
  /* position: absolute; */
  border: 2px solid white;
  background: #060606;
  width: 48vw;
  height: 29vw;
  /* transition: 0.2s;
  transform: scale(1) translateY(0); */
  transition: transform 0.2s ease-in-out;
  
}
.video-1{
position: absolute;
}

.video-2{
  position: absolute;
}

.video-out {
  transform: scale(1.2) translateY(-20%);
}

.buttons-group{
  display: flex;
  justify-content: start;
  flex-direction: row;
  column-gap: 2vw;
}

.home-7{
  display: flex;
  justify-content: center;
  height: 25vh;
  padding: 0 6vw 0 6vw;
  background-color: #010101;
  position: relative;
  z-index: 5
}

.footer-menu{
  width: 100vw;
  display: flex;
  justify-content: space-between;
  /* font-size: 2.5rem; */
  /* column-gap: 4rem; */
}

.col-1,.col-2{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  float: right;
  font-size: 2vw;
}

.col-2{
  text-align: right;
}

.home-8{
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #010101;
  position: relative;
  width: 100vw;
  font-size: 2.5vw;
  /* z-index: 5; */
}

.social-lists{
  display: flex;
  width: 100vw;
  justify-content: center;
  padding: 2vw;
  column-gap: 5vw;
}

.social{
  font-size: 2vw;
}

.social-lists img{
  width: 2.5vw;
}

.copyright{
  display: flex;
  justify-content: center;
  background-color: #010101;
  font-size: 1vw;
}

.line-1{
  width: 90vw;
  margin: auto;
}

.line-2{
  width: 35vw;
  margin: auto;
  margin-bottom: 4rem;
}
