@media (max-width: 475px){
  .hero{
    height: auto !important;
  }
  .hero-content{
    height: auto !important;
  }
  .one, .two, .three, .four, .five{
    top: 65vh ; 
  }
  .six{
    display: none;
  }
  .one img, .two img, .three img, .four img, .five img{
    height: 18vw ;
    width: 18vw ;
  }
  .one{
    z-index: 1;
    position: absolute;
    left: 5vw ;
  }
  .two{
    left: 23vw;
    z-index: 2;
    position: absolute;
  }
  .three{
    left: 41vw;
    z-index: 3;
    position: absolute;
  }
  .four{
    z-index: 2;
    position: absolute;
    left: 58vw;
  }
  .five{
    z-index: 1;
    position: absolute;
    left: 76vw;
  }
  .meet-team-txt{
    font-size: 6vw !important;
  }
  .team-txt{
    display: none;
  }

  .person-desc{
    text-align: center !important;
    font-size: 2.5vw !important;
  }
  .person-container-flip2{
    display: block !important;
  }
  .person-container-flip{
    display: none !important;
  }
  .person-container2{
    display: block !important;
  }
  .person-container{
    display: none !important;
  }
  .person-container1{
    display: none !important;
  }
}

@media (min-width: 476px){
  .one{
    z-index: 2;
    position: absolute;
    top: 0; 
    left: 0;
  }

  .two{
    top: 20vw; 
    left: 10vw; 
    z-index: 3;
    position: absolute;
  }  

  .three{
    z-index: 2;
    position: absolute;
    top: 15vw; 
    left: 40vw
  }

  .four{
    z-index: 1;
    position: absolute;
    top: 0; 
    left: 60vw
  }

  .five{
    z-index: 1;
    position: absolute;
    top: 20vw; 
    left: 58vw
  }

  .one img, .three img{
    height: 17.3vw;
    width: 17.3vw;
  }
  
  .two img{
    height: 24vw;
    width: 24vw;
  }
  
  .four img, .five img{
    height: 15vw;width: 15vw;
  }
  
}


.elevator{
  position: absolute;
  height: 100vh;
  background-color: black;
}

.meet-team-txt{
  display: flex;
  justify-content: center;
  font-size: 4vw;
}

.six{
  z-index: 1;
  position: absolute;
  top: 15vw; 
  left: 80vw;
}

.six img{
  height: 11.6vw;width: 11.6vw;
}

.team-txt{
  opacity: 0;
}

.hero-content{
  position: relative;
  width: 100%;
  height: 100vh;
  /* padding: 0 6rem 0 6rem; */
}

.team-content{
  /* height: 100vh; */
}

.team-img{
  filter: saturate(0) ;
  display: flex;
  position: relative;
}

.team-details{
  /* position: absolute; */
  display: flex;
  float: right;
  justify-content: flex-end;
  flex-direction: column;
  /* margin-left:70rem; */
  width: 50%;
}
.team-details2{
  position: relative;
  display: flex;
  float: right;
  justify-content: space-between;
  flex-direction: row;
  /* margin-left:70rem; */
  width: 80vw;
  align-items: end;
}

.team-details-flip{
  position: relative;
  display: flex;
  float: left;
  justify-content: flex-end;
  flex-direction: column;
  /* margin-left:70rem; */
  width: 50%;
}
.team-details-flip2{
  position: relative;
  display: flex;
  float: left;
  justify-content: flex-end;
  flex-direction: row;
  justify-content: space-between;
  /* margin-left:70rem; */
  width: 80vw;
  align-items: end;
}

.person-container{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  opacity: 0;
  background-color: black;
  padding: 5rem;
}
.person-container2{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: black;
  padding: 5rem;
  display: none;
  opacity: 0;
}

.person-container1{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  opacity: 0;
  background-color: black;
  padding: 5rem;
}

.person-container-flip{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: black;
  padding: 6rem;
  width: 100%;
  opacity: 0;
}
.person-container-flip2{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: black;
  padding: 10vw;
  width: 100%;
  display: none;
  opacity: 0;
}

.person-title, .person-designation, .person-desc{
  text-align: right;

}

.person-title{
  font-size: 5vw;

}
.person-designation{
  font-size:3vw;
}
.person-desc{
  font-size: 1vw;
}
.person-title-flip, .person-designation-flip, .person-desc-flip{
  text-align: left;

}

.person-title-flip{
  font-size: 5vw;

}
.person-designation-flip{
  font-size: 3vw;
}