@font-face { font-family: Black Mango; src: url('./Black Mango Black.ttf'); } 
:root {
  --dynamic-top-factor-one: 0; /* Adjust the factor as needed */
  --dynamic-top-factor-two: 0.15; /* Adjust the factor as needed */
  --dynamic-top-factor-three: 0.2; /* Adjust the factor as needed */
  --dynamic-top-factor-four: 0.1; /* Adjust the factor as needed */
  --dynamic-top-factor-five: 0.4; /* Adjust the factor as needed */
  --dynamic-top-factor-six: 0.4; /* Adjust the factor as needed */
  --dynamic-top-factor-seven: 0.1; /* Adjust the factor as needed */
}

@media (max-width: 1700px) {
  .hero{
    height: auto !important;
  }
  .hero-content{
    height: auto !important;
  }
  .elevator{
    height: auto !important;
  }

  
}
@media (max-width: 475px){
  .hero{
    height: auto !important;
    top: 20vw;
    
  }
  .hero-content{
    height: auto !important;
  }
  .one, .two, .three, .four, .five, .six, .seven{
    top: 65vh ; 
  }
  /* .six{
    display: none;
  } */
  .one img, .two img, .three img, .four img, .five img, .six img, .seven img{
    /* height: 18vw ; */
    width: 18vw !important;
  }
  .one{
    z-index: 3;
    position: absolute;
    left: 29vw;
  }
  .two{
    left: 41vw !important;
    z-index: 4;
    position: absolute;
  }
  .three{
    left: 55vw;
    z-index: 3;
    position: absolute;
  }
  .four{
    z-index: 2;
    position: absolute;
    left: 18vw;
  }
  .five{
    z-index: 2;
    position: absolute;
    left: 69vw;
  }
  .six{
    z-index: 1;
    position: absolute;
    left: 79vw;
  }
  .seven{
    z-index: 1;
    position: absolute;
    left: 4vw;
  }
  .meet-team-txt{
    font-size: 6vw !important;
  }
  .team-txt{
    display: none;
  }

  .person-desc{
    text-align: center !important;
    font-size: 2.5vw !important;
  }
  .person-container-flip2{
    display: block !important;
    margin-top: 7vw;
  }
  .person-container-flip{
    display: none !important;
  }
  .person-container2{
    display: block !important;
    
  }
  .pc-ujjwal{
    padding: 0 5rem 5rem 5rem !important;
  }
  .person-container{
    display: none !important;
  }
  .person-container1{
    display: none !important;
  }
}

@media screen and (min-width: 476px){
  .one{
    z-index: 2;
    position: absolute;
    top: 0; 
    /* top: calc(var(--dynamic-top-factor-one) * 100vh); */
    left: 0;
  }

  .two{
    top: 18vw; 
    /* top: calc(var(--dynamic-top-factor-two) * 100vh); */
    left: 10vw; 
    z-index: 3;
    position: absolute;
  }  

  .three{
    z-index: 2;
    position: absolute;
    top: 15vw; 
    /* top: calc(var(--dynamic-top-factor-three) * 100vh); */
    left: 40vw
  }

  .four{
    z-index: 1;
    position: absolute;
    top: 0; 
    /* top: calc(var(--dynamic-top-factor-four) * 100vh); */
    left: 60vw
  }

  .five{
    z-index: 1;
    position: absolute;
    top: 20vw; 
    /* top: calc(var(--dynamic-top-factor-five) * 90vh); */
    left: 58vw
  }

  .six{
    z-index: 0;
    position: absolute;
    /* top: 9vw;  */
    top: calc(var(--dynamic-top-factor-six) * 100vh);
    left: 75vw;
  }

  .seven{
    z-index: 0;
    position: absolute;
    top: 5vw; 
    /* top: calc(var(--dynamic-top-factor-seven) * 100vh); */
    left: 20vw;
  }

  .six img{
    /* height: 11.6vw; */
    width: 12vw;
  }

  .seven img{
    width: 10.6vw;
  }

  .one img{
    /* height: 17.3vw; */
    width: 19.5vw;
  }

  .three img{
    width: 15vw;
  }
  
  .two img{
    /* height: 24vw; */
    width: 20vw;
  }
  
  .four img{
    /* height: 15vw; */
    width: 13.5vw;
  }
  .five img{
    width: 13vw
  }
  .team-img{
    top: -10vh;
  }
}

@media screen and (max-height: 300px){

}

@media screen and (max-height: 1100px){
  .three img{
    width: 15vw;
  }
}

@media(max-height: 300px){
  .top-nav{
    padding: 0 1rem 0 1rem;
  }
  .meet-team-txt{
    top: 0 !important;
  }
}

.elevator{
  position: absolute;
  height: 100vh;
  /* background-color: #010101; */
}

.meet-team-txt{
  display: flex;
  justify-content: center;
  font-size: 4vw;
  /* position: relative;
  top: 8vw; */
}

/* .six{
  z-index: 1;
  position: absolute;
  top: 15vw; 
  left: 80vw;
}

.six img{
  height: 11.6vw;width: 11.6vw;
} */

.team-txt{
  opacity: 0;
}

.hero-content{
  position: relative;
  width: 100%;
  height: auto;
}

.team-content{
  position: relative;
}

.team-img{
  filter: saturate(0) ;
  display: flex;
  position: relative;
}

.team-details{
  display: flex;
  float: right;
  justify-content: flex-end;
  flex-direction: column;
  width: 50%;
}
.team-details2{
  position: relative;
  display: flex;
  float: right;
  justify-content: space-around;
  flex-direction: row;
  width: 80vw;
  align-items: end;
}

.team-details-flip{
  position: relative;
  display: flex;
  float: left;
  justify-content: flex-end;
  flex-direction: column;
  width: 50%;
}
.team-details-flip2{
  position: relative;
  display: flex;
  float: left;
  justify-content: flex-end;
  flex-direction: row;
  justify-content: space-between;
  width: 80vw;
  align-items: end;
}

.person-container{
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  opacity: 0;
  background-color: #010101;
  /* padding: 5rem; */
}
.person-container2{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: #010101;
  padding: 0 5rem 5rem 5rem;
  display: none;
  opacity: 0;
}

.person-container1{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  opacity: 0;
  background-color: #010101;
  padding: 5rem 10rem 0 10rem;
}

.person-container-flip{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: #010101;
  padding: 6rem;
  width: 100%;
  opacity: 0;
}
.person-container-flip2{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: #010101;
  padding: 10vw;
  width: 100%;
  display: none;
  opacity: 0;
}

.person-title, .person-designation, .person-desc{
  text-align: right;

}

.person-title{
  font-size: 5vw;

}
.person-designation{
  font-size:3vw;
}
.person-desc{
  font-size: 1.5vw;
}
.person-title-flip, .person-designation-flip, .person-desc-flip{
  text-align: left;

}

.person-title-flip{
  font-size: 5vw;

}
.person-designation-flip{
  font-size: 3vw;
}

.shivangi{
  padding: 20vh 10vh 5vh 10vh !important;
  
}

.shivangi-img{
  top: 0 !important;
}

.pavan{
  /* padding: 5rem; */
  justify-content: center !important;
  column-gap: 25rem;
}

.tarun{
  justify-content: center !important;
  column-gap: 10rem;

}

#loader-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

#loader {
  border: 16px solid #3498db;
  border-top: 16px solid #fff;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
}

.loader-section {
  position: fixed;
  top: 0;
  width: 50%;
  height: 100%;
  background: #fff;
}

.section-left {
  left: 0;
}

.section-right {
  right: 0;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
